@use "sass:list";
@use "sass:meta";
@use "sass:string";

/// Return a copy of $list with all elements for which $condition returns `true`
/// removed.
@function remove-where($list, $condition) {
  $new-list: ();
  $separator: list.separator($list);
  @each $element in $list {
    @if not meta.call($condition, $element) {
      $new-list: list.append($new-list, $element, $separator: $separator);
    }
  }
  @debug $new-list;
  @return $new-list;
}

$fonts: Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

content {
  @function contains-helvetica($string) {
    @return string.index($string, Helvetica);
  }
  font-family: remove-where($fonts, meta.get-function("contains-helvetica"));
}


.btn {
    padding: 4px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    user-select: none;

    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}

.primary {
    color: #fff;
    background-color: #0d6efd;
}

.disabled {
    opacity: 0.5;
    pointer-events: none; 
}
